body {
  color: white;
  margin: 0;
  font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
}
